.profile-figure {
    width: 70%;
    display: block;
    margin: auto;
}


.profile-img {
    border-radius: 25px;
    border: solid rgb(81, 27, 131) 3px;
    width: 60%;
    box-shadow:  #04ce15 0px 5px 15px; 
}
@media (min-width: 1024px) {
    .profile-img {
        border-radius: 25px;
        border: solid rgb(81, 27, 131) 3px;
        width: 30%;
        box-shadow:  #04ce15 0px 5px 15px; 
    }
  }

.profile-h1{
    text-align: center;
    color: #04ce15;
    text-decoration: none;
    text-shadow:-2px 2px 5px rgb(81, 27, 131);
}

.profile-p {
    font-size: 24px;
    text-align: center;
    color: #04ce15;
    text-decoration: none;
    text-shadow:-2px 2px 5px rgb(81, 27, 131);
}